In [1]:
import pandas as pd
import numpy as np

In [13]:
#1
arr1 = np.array([1,2,3,4])
data = pd.Series(arr1)
print(data)

0    1
1    2
2    3
3    4
dtype: int64

In [2]:
#2. Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.
s_series  = pd.Series([90,80,70,60,50])
l1 = [s_series] 
print(l1)
print(type(l1))

[0    90
1    80
2    70
3    60
4    50
dtype: int64]
<class 'list'>

In [3]:
#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
   #Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
def add():
    s1 = pd.Series([2,4,6,8,10])
    s2 = pd.Series([1,3,5,7,9])
    add = s1+s2
    print(f"Addition of two series is : {add}")
add()

Addition of two series is : 0     3
1     7
2    11
3    15
4    19
dtype: int64

In [4]:
#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
   #Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
def sub():
    s1 = pd.Series([2,4,6,8,10])
    s2 = pd.Series([1,3,5,7,9])
    sub = s1-s2
    print(f"Substraction of two series is : {sub}")
sub()

Substraction of two series is : 0    1
1    1
2    1
3    1
4    1
dtype: int64

In [5]:
#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
   #Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
def mul():
    s1 = pd.Series([2,4,6,8,10])
    s2 = pd.Series([1,3,5,7,9])
    mul = s1*s2
    print(f"Multiplication of two series is : {mul}")
mul()

Multiplication of two series is : 0     2
1    12
2    30
3    56
4    90
dtype: int64

In [6]:
def div():
    s1 = pd.Series([2,4,6,8,10])
    s2 = pd.Series([1,3,5,7,9])
    div = s1/s2
    print(f"Multiplication of two series is : {div}")
div()

Multiplication of two series is : 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [7]:
#4. Write a Pandas program to convert a dictionary to a Pandas series.
def function():
    s1 = pd.Series({"name":"muskan","course":"pune","roll no":"83712"})
    print(s1)
function()

name       muskan
course       pune
roll no     83712
dtype: object

In [8]:
#5. Write a Pandas program to convert a NumPy array to a Pandas series.
def function():
    n1 = np.array([11,22,33,44,55])
    s1 = pd.Series(n1)
    print(s1)
function()

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [9]:
#6. Write a Pandas program to change the data type of given a column or a Series.
def function():
    s1 = pd.Series([11,22,33,44])
    n1 = np.array(s1,dtype = np.float64)
    print(n1.dtype)
function()

float64

In [10]:
#7. Write a Pandas program to convert a given Series to an array.
def function():
    s1 = pd.Series([11,22,33,44])
    n1 = np.array(s1)
    print(n1)
    print(type(n1))
function()

[11 22 33 44]
<class 'numpy.ndarray'>

In [11]:
#8. Write a Pandas program to create a dataframe from a dictionary and display it.
def function():
    p1 = ({"name":"P1","age":25,"id":1234})
    p2 = ({"name":"P2","age":35,"id":456})
    p3 = ({"name":"P3","age":20,"id":142})
    
    s1 = pd.Series(p1)
    s2 = pd.Series(p2)
    s3 = pd.Series(p3)
    
    df = pd.DataFrame([s1,s2,s3])
    
    print(df)
function()

  name  age    id
0   P1   25  1234
1   P2   35   456
2   P3   20   142